#Appheader {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: rgb(255, 255, 255);
  background-image: url("./models/foda2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: center;
  background-blend-mode: overlay;
}

.normalHeader{
  background-color: #3a3a3a;
}

.medoHeader{
  background-color: #330202;
}

#divSidebarPressets {
  height: 89.5vh;
  width: 30vw;
  border: 0.2vh black solid;
  background-color: #2c2c2c;
  position: absolute;
  top: 10vh;
}

#btnPressetsLista {
  height: 5vh;
  width: 10vw;
  position: absolute;
  left: 1vw;
  top: 2.5vh;
  border-radius: 2vh;
  font-size: 2vh;
}

#btnTemaChange {
  height: 5vh;
  width: 10vw;
  position: absolute;
  right: 1vw;
  top: 2.5vh;
  border-radius: 2vh;
  font-size: 2vh;
}

.btnNormal {
  background-color: #535353;
  color: rgb(255, 255, 255);
  border: 0.1vh solid #000000;
}

.btnMedo {
  background-color: #471818;
  color: rgb(255, 255, 255);
  border: 0.1vh solid #000000;
}

h3 {
  align-self: center;
  justify-self: center;
  font-size: 3vh;
}

a {
  font-size: 2vh;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

footer {
  margin-left: 10px;
  color: gainsboro;
  font-size: x-small;
}